body {
    max-width: 850px ;
    margin: auto ;
    padding: 0 16px;
    margin-bottom: 300px;
    font-size: large;
    font-family: Tahoma, sans-serif;
}

.complementary {
    color: #ff5d0c;
}

a {
    color: rgb(52, 145, 255);
    text-decoration: none;
}

h1 {
    border-style: solid ;
    border-width: 0px 0px 2px 0px ;
}

.centerBlock {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    width: 50% ;
}

html {
}

.unavailable {
    color: grey;
}

footer {
    text-align: center;
    border-style: solid ;
    border-width: 2px 0px 0px 0px ;
    margin-top: 20px;
    padding: 10px;
}

table#submission-table {
    border-collapse: collapse;
    margin: 30px auto;
}

table#submission-table td {
    border: 1px solid whitesmoke;
    padding: 5px;
    min-width: 150px;
}

#isEmailValid {
    color: red;
    padding-left: 10px;
}

ol li {
    padding-bottom: 8px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-article {
    width: 200px;
    max-width: 200px;
    margin: 10px 5px auto 5px;
    flex: 200px;
    border: 1px solid #ff5d0c;
    border-radius: 10px;
    padding-top: 15px;
    text-align: center;
}

.flex-article img {
    object-fit: cover;
    height: 170px;
    width: 170px;
    border-radius: 10px;

}

.flex-article .recipe-name {
    font-weight: bold;
    margin-top: 0;
    color: black;
}

.flex-article .recipe-time {
    margin-top: -10px;
    color: black;
}

.border {
    border: 2px solid red ;
}